<header class="flex flex-col items-center mb-20">
  <h1 class="text-8xl font-bold text-indigo-500">
    IntiSync
  </h1>
</header>

<section id="lobby-buttons" class="flex flex-col items-center">
  <.button class="py-5 text-2xl" id="create-session-btn" type="button" phx-click="create_session">
    <.icon name="hero-fire-solid" class="mr-1.5 -ml-0.5" /> Create session
  </.button>
</section>
